*{margin: 0;  padding: 0;  box-sizing: border-box;font-family: 'Source Sans Pro', sans-serif;}

/*cabeçaclho*/

a{
    text-decoration: none;
    color:black;
}
nav {
    background-color: #00CAD1;
}
.menu1 img{
    margin-top: 20px;
}
nav .menu1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    max-width: 1024px;
    height: 80px;
    margin: 0px auto;

}
nav div div:last-of-type a{
    color: white;
    margin:0px 10px;
}
.menu1 div:last-of-type a:hover{
    color:black;
}
/*home*/
#home {
    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#home div{
    display: flex;
    max-width: 1024px;
    height: 500px;
    margin: auto auto;
    font-size: 35px;
    align-items: center;
}
.menu2 img{
    width: auto;
    height: auto;
}
h1{
 font-weight: normal;
 color: white;
 margin: 0px 20px;
}

/*Sobre*/

#sobre{
    max-width: 1024px;
    margin: 80px auto;   
}
#sobre .soHeader h2{
   font-size: 30px;
}
#sobre div h2, #sobre div p {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}
.menu2 h2{
    font-weight: normal;
    margin-bottom: 80px;
}
.menu2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 80px;    
}
.menu2 img{
    height: 400px;

}
.menu2 div:last-of-type ul{
    margin:20px 0px 0px 30px;    
}
.menu2 div:last-of-type ul li{
    margin: 15px;
}
/*Especialidades*/

#especi{
    max-width: 1024px;
    margin:20px auto;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards div img{
    height: 200px;
    margin-bottom: 10px;
}
.cards div{
    padding-bottom: 10px;
    box-shadow:rgb(34, 34, 34) 0px 0px 8px ;
    text-align: center;
    width: 300px;
    margin: 20px 20px;
}
#especi .esHeader{
    height: auto;
    text-align: center;
    padding-top: 30px ;
    font-size: 20px;  
    margin-bottom: 60px; 
}

.esHeader p{
    margin-top: 20px;
    font-size: 25px;
}
#especi .esFooter{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#especi div:last-child a{
    background-color: #00CAD1;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    padding-top: 12px;
    color: white;
}
#especi div:last-child a:hover{
    color: black;
}

/*Contato*/

#contato{
    max-width: 1024px;
    margin: 0px auto;
    text-align: center;
    padding: 30px 0px;   
    
}
#contato h2{
    font-size: 25px;
    
}
#contato p{
    font-size: 22px;
    margin: 30px 0px;
    
}
#contato iframe{
    width: 100%;
    height:400px;
}

/*Footer*/

footer{
    margin: 100px auto 0px;
    background-color: #0D6E71;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
footer p {
    margin: 20px 0px;
    color: white;
}

/*___________HTML ESPECIALIDADES___________*/

/* cabeçalho e links navegaçao */


#especialidades{
    max-width: 1024px;
    margin: 0px auto;
    font-size: 20px;
}
#especialidades h3, #especialidades p{
    margin: 30px 0px;
}
#especiHeader{
    text-align: center;
    margin-bottom: 40px;    
}
#especiHeader div{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 20px 0px;
    font-size: 20px;
    flex-wrap: wrap;
}
#especiHeader div a{
    border:2px solid white;
    border-bottom: 2px solid #7df4f8;
    margin: 0px 1px;
}
#especiHeader div a:hover{
    border-bottom: 2px solid #00CAD1 ;
    cursor: default;
}

/* img descriçao e tabelas */


.painel div:first-of-type{
    text-align: center;
    margin: 30px 0px;
}
.painel div:last-of-type{
    display: flex;
}
.painel img{
    max-width:350px;
    height: 350px;
    object-fit: cover;
}
table th, table td{
    width:1024px ;
}
.painel table{
    border-collapse: collapse;
    text-align: center;
}

.painel table thead tr th{
    background-color: #00CAD1;
    padding: 0px 30px;   
}
.painel table tbody tr:nth-child(odd){
    background-color: rgb(229, 226, 226);
}
.painel div:first-of-type{
    margin-top: 100px;
}




/*@media*/



@media (max-width: 768px){
    
    .menu2 div img{
        display: none;
    }
    #home div{
        height: 300px;
    }
    #home h1{
        font-size: 28px;
    }
    .painel img{
        display: none;
    }
    table th, table td{
        height: 80px;
    }
}

@media (max-width: 583px){
    
    nav .menu1{
        display: block;
        font-size: 20px;
        height: 170px;
        text-align: center;
        height: auto;
        padding-bottom: 10px;
        
    }
    nav .menu1 div:first-child{
        border-bottom: 2px solid rgba(0, 0, 0, 0.144);
        margin-bottom: 10px;
    }
    #home div{
        height: 300px;
    }
    #home h1{
        font-size: 28px;
        
    }
    nav div div:last-of-type a{   
        margin:0px 5px;
    }
}

@media (max-width: 425px){
    p, li, h2 ,h3{
        font-size: 18px;
    }
    nav .menu1{
        height: auto;
        padding-bottom: 10px;
    }
    
    #home div{
        height: 200px;
    }
    #home h1{
        font-size: 25px;
    }
    table th, table td{
        padding:0px 0px;
        font-size: 16px;
    }

}